<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pastelaxia</title>
  <link rel="icon" href="../assets/img/icon-cake.png">
  <link rel="stylesheet" href="../styles/adminStyles.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <a href="../views/index.html">Ingresar como cliente</a>
    </nav>
  </header>
  <section class="pedidos">
    <h1>Cantidad de ingredientes</h1>
    <p>Total de sabores y decoraciones en almacén</p>
    <div class="menu m-adm">
      <div class="flavor">
        <h2>Sabores</h2>
        <ul>
          <li><i class="fas fa-star-half-alt"></i>Chocolate Galáctico . . . . . . . . . . . . . . . . . . . . 5 Litros</li>
          <li><i class="fas fa-star-half-alt"></i>Tres Via-Lacteas . . . . . . . . . . . . . . . . . . . . . . . . 2 Litros</li>
          <li><i class="fas fa-star-half-alt"></i>Nutella Espacial . . . . . . . . . . . . . . . . . . . . . . . . 3 Litros</li>
          <li><i class="fas fa-star-half-alt"></i>Vainilla Infinita . . . . . . . . . . . . . . . . . . . . . . . . . 2 Litros</li>
          <li><i class="fas fa-star-half-alt"></i>Sabor Estelar . . . . . . . . . . . . . . . . . . . . . . . . . . .4 Litros</li>
        </ul>
      </div>
      <div class="decoration">
        <h2>Decoración</h2>
        <ul>
          <li><i class="fas fa-star"></i>Polvo Cósmico. . . . . . . . . . . . . . . . . . . . . . . . . . . . 2 Kg.</li>
          <li><i class="fas fa-star"></i>Estrellas de dulce. . . . . . . . . . . . . . . . . . . . . . . . . 1 Kg.</li>
          <li><i class="fas fa-star"></i>Arándanos de Andrómeda. . . . . . . . . . . . . . . . .4 Kg.</li>
          <li><i class="fas fa-star"></i>Nube de Algodón. . . . . . . . . . . . . . . . . . . . . . . . . 1 Kg.</li>
          <li><i class="fas fa-star"></i>Fresas Alienígenas. . . . . . . . . . . . . . . . . . . . . . . . 5 Kg.</li>
        </ul>
      </div>
    </div>
    <div class="table">
      <h2>Pedidos</h2>
      <table>
        <thead>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Sabor</th>
          <th>Decoración</th>
          <th>Descripción adicional</th>
        </thead>
        <tbody>
          <tr>
            <td>Reyna</td>
            <td>9671234567</td>
            <td>reyna@hotmail.com</td>
            <td>Chocolate Galáctico</td>
            <td>Arándanos de Andrómeda <br> Fresas Alienígenas</td>
            <td>Pastel para 7 personas</td>
          </tr>
          <tr>
            <td>Carmen</td>
            <td>9987654321</td>
            <td>carmen@hotmail.com</td>
            <td>Tres Via-Lacteas</td>
            <td>Arándanos de Andrómeda <br> Polvo Cósmico</td>
            <td>Pastel para 2 personas <br> con un mensaje que diga: Feliz día</td>
          </tr>
          <tr>
            <td>Fernando</td>
            <td>9965433321</td>
            <td>fernando@hotmail.com</td>
            <td>Sabor Estelar</td>
            <td>Nube de Algodón</td>
            <td>para 4 personas</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>